
@import "./less/serapide-catalog.less";
@import "./less/toc.less";

// custom toc styles
.ms-toc-tools {
    text-align: center;
}

.ms-nodes-empty {
    width: 100%;
    font-style: italic;
    padding: 8px 0;
    font-size: @font-size-small;
}

.viewer {
    transform: ~"translate(0, 0)";
}

.fill {
    background-color: #f8f9fa;
}

// homepage

#page-maps {
    .srtr-serapide-catalog-body > div {
        position: relative;
        max-width: 1400px;
    }
    background-color: #f8f9fa;
    max-width: 1720px;
    margin: 0 auto;
    padding-top: 70px;
}
#container .page-maps .ms-home-description {
    background-image: none;
    background-color: transparent;
    padding-top: 0;
    .container {
        background-color: transparent;
    }
    .container > .row > .text-center > p {
        text-align: left;
        padding-left: 40px;
        border-bottom: 2px solid #ffc107;
    }
    h1 {
        font-size: 2.5rem;
        text-transform: uppercase;
        font-weight: 500;
        font-family: "Helvetica Neue", Helvetica, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
}

// toc border and menu

.ms-toc {
    .ms-toc-layer .ms-head {
        border-top: 4px solid #FED403;
    }
    .nav-justified > li {
        display: block;
        width: 100%;
        font-size: @font-size-small;
        border: 1px solid @ms2-color-shade-lighter;
        border-right: 2px solid #FED403;
        border-left: 2px solid #FED403;
        margin: 0;
        & > a {
            padding: 4px;
        }
        &.ms-group-basi_cartografiche {
            border-right-color: #e2001a;
            border-left-color: #e2001a;
        }
        &.active {
            color: @ms2-color-text-primary;
            background-color:  @ms2-color-primary;
            & > a {
                color: @ms2-color-text-primary;
            }
        }
        + li {
            border-top: none;
        }
    }
    .nav > li > a:hover,
    .nav > li > a:focus {
        color: @ms2-color-text;
    }
    .nav > li.active > a:hover,
    .nav > li.active > a:focus {
        color: @ms2-color-text-primary;
        background-color:  @ms2-color-primary;
    }
    .ms-header-node-title {
        display: flex;
        align-items: center;
        & > div:first-child {
            flex: 1;
        }
        a {
            font-size: @font-size-small;
            text-decoration: underline;
            cursor: pointer;
            :hover {
                color: @ms2-color-info;
            }
        }
    }

    .ms-group-basi_cartografiche .ms-toc-layer .ms-head {
        border-color: #e2001a;
    }
}

// print loading

.print-submit {
    .sk-circle-wrapper {
        display: inline-block;
        .sk-circle:before {
            background-color: #ffffff !important;
        }
    }
}

// buttons

.square-button {
    padding: 0;
}

// search

.MapSearchBar .input-group .searchInput {
    min-height: @square-btn-size;
}


// global spinner

div#mapstore-globalspinner {
    display: flex;
    align-items: center;
    justify-content: center;
    .sk-circle-wrapper {
        margin: 0 !important;
    }
}

// menu
#mapstore-navbar-container .dropdown-menu .dropdown-header,
#mapstore-navbar-container .dropdown-menu > li > a {
    padding: 4px 8px;
}

.mapstore-side-card .mapstore-side-card-info {
    padding: 2px 16px;
}

.strt-homepage-catalog {
    background-color: #ffffff;
    width: ~"calc(100% - 30px)";
}

#mapstore-navbar .MapSearchBar {
    left: -460px;
    @media (min-width: 992px) {
        width: 460px;
    }
}
