@ms2-path: "../../MapStore2/web/client/themes/default/";

@import "@{ms2-path}base.less";
@import "@{ms2-path}icons.less";
@import "@{ms2-path}bootstrap-theme.less";
@import "./ms-theme.less";
@import "./custom.less";
@import "@{ms2-path}variables.less";

@ms2-color-primary: #343a40;
@ms-toc-group-selected-color: @ms2-color-text-primary;
@ms2-color-disabled: #a8adb3;
@ms2-color-info: #595f64;
@ms2-color-success: #5bb562;

.ms-toc {
    .ms-toc-layer .ms-head {
        border-top: 4px solid #FED403;
    }
}

.print-submit {
    .sk-circle-wrapper {
        display: inline-block;
        .sk-circle:before {
            background-color: #ffffff !important;
        }
    }
}
