{% extends "strt_portal/page_inner_menu.html" %}

{% load static %}
{% load i18n %}

{% block head_title %}{{ block.super }} - {% trans 'home'|capfirst %}{% endblock head_title %}

{% block content %}
<div class="w-100 h-auto p-0 pt-2 pt-lg-5 m-0" id="home">
<section class="block-First_section">
    <div class="row m-0 pb-3 pb-lg-5 first-section-row">
    <div class="col-12 col-lg-6">
        <p class="big-text wrap-text">
            Governo<br>del Territorio
        </p>
        <p class="medium-text wrap-text">
            Strumenti per la pianificazione
        </p>
    </div>
    <div class="col-12 col-lg-6 text-center">
        <img alt="RT_yellow.png" class="img-fluid" height="603" src="/media/images/RT_yellow_qehbHmP.2e16d0ba.fill-800x800.png" width="602">
    </div>
</div>
</section>
<hr />
<section class="py-5">
    <div class="container">
        <div id="cosa-e" class="row mb-5">
            <div class="col-3 icon-col text-right">
                <p class="medium-text wrap-text">
                    Cos’è
                </p>
            </div>
            <div class="col-9">
                <p class="wrap-text">
                    E’ un progetto web orientato al raggiungimento delle finalità della L.R.65/2014 e, in particolare, a dare attuazione all’art.54 bis sul Sistema Informativo Regionale Integrato per il Governo del Territorio
                </p>
            </div>
        </div>
        <div id="a-cosa-serve" class="row mb-5">
            <div class="col-3 icon-col text-right">
                <p class="medium-text wrap-text">
                    A cosa serve
                </p>
            </div>
            <div class="col-9">
                <p class=" wrap-text">
                    Tramite questo Sito, l’Ecosistema Informativo Regionale Integrato per il Governo del Territorio eroga <a href="/">servizi web</a> per Enti, Aziende, Professionisti e Cittadini, in materia di Pianificazione Territoriale, Urbanistica e di Settore, di VAS, di conformazione al Piano Paesaggistico Regionale e di VIA.
                </p>
            </div>
        </div>
        <div id="chi-ha-realizzato" class="row">
            <div class="col-3 icon-col text-right">
                <p class="medium-text wrap-text">
                    Chi l’ha realizzato
                </p>
            </div>
            <div class="col-9">
                <p class="wrap-text">
                    La Direzione Urbanistica e il Settore VIA-VAS di Regione Toscana, insieme all’<a href="/">Osservatorio Paritetico della Pianificazione</a>, hanno progettato il Sistema Informativo e lo hanno realizzato anche tramite l’apporto scientifico dei partner tecnologici: LAMMA, ARPAT, CNR. Il Geoportale è stato sviluppato da Geosolutions
                </p>
            </div>
        </div>
    </div>
</section>
<hr />
<section class="py-5">
    <div class="container">
        <div id="le-specifiche-tecniche" class="row mb-5">
            <div class="col-3 icon-col text-right">
                <p class="medium-text wrap-text">
                    Le Specifiche Tecniche
                </p>
            </div>
            <div class="col-9">
                <p class="wrap-text">
                    Per l’informatizzazione dei PS, dei PO e dei Piani di Protezione Civile si deve far riferimento alle <a href="/">MODALITÀ e SPECIFICHE TECNICHE per il conferimento degli strumenti della pianificazione al Sistema Informativo Regionale Integrato per il Governo del Territorio</a>
                </p>
            </div>
        </div>
        <div id="i-manuali" class="row mb-5">
            <div class="col-3 icon-col text-right">
                <p class="medium-text wrap-text">
                    I Manuali
                </p>
            </div>
            <div class="col-9">
                <p class=" wrap-text">
                    Per l’utilizzo dei softwares web sono qui disponibili i <a href="/">MANUALI OPERATIVI DEI SOFTWARES</a>
                </p>
            </div>
        </div>
        <div id="accedi-ai-servizi" class="row">
            <div class="col-3 icon-col text-right">
                <p class="medium-text wrap-text">
                    Accedi ai Servizi
                </p>
            </div>
            <div class="col-9">
                <p class=" wrap-text">
                    <a href="/">ACCEDI AI SERVIZI</a> PER LA PIANIFICAZIONE, PER LA VAS, PER LA CONFORMAZIONE AL PIANO PAESAGGISTICO REGIONALE
                </p>
            </div>
        </div>
    </div>
</section>
<hr />

<section class="py-5">
    <div class="container">
        <div class="row text-center mb-5">
            <div class="col-12">
                <h4>Accesso ai servizi per la pianificazione, per la VAS, per la confirmazione al PIT-PPR</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-3" style="border-left:4px solid #FED403;">
                <h5>QUADRO CONOSCITIVO</h5>
                <p class="wrap-text">
                    Il Geoportale e l’accesso alle banche dati e agli indicatori sulle risorse e sul patrimonio territoriale per l’elaborazione dei quadri conoscitivi dei piani, per la VAS e per la VIA
                </p>
                <p>
                    <a class="btn btn-serapide" href="{% url 'geportale_home' %}#/viewer/mappa_piani_operativi?static=1" role="button">Vai al Geoportale</a>
                </p>
            </div>
            <div class="col-3" style="border-left:4px solid #FED403;">
                <h5>FORMAZIONE DEL PIANO</h5>
                <p class="wrap-text">
                    Il software SERAPIDE per il procedimento di formazione on-line dei piani comunali strutturali ed operativi: dall’avvio del procedimento all’approvazione
                </p>
                <p>
                    <a class="btn btn-serapide" href="/serapide" role="button">Vai a formazione del piano</a>
                </p>
            </div>
            <div class="col-3" style="border-left:4px solid #FED403;">
                <h5>VALUTAZIONE E CONFORMAZIONE</h5>
                <p class="wrap-text">
                    Il Geoportale e l’accesso alle banche dati e agli indicatori sulle risorse e sul patrimonio territoriale per l’elaborazione dei quadri conoscitivi dei piani, per la VAS e per la VIA
                </p>
                <p>
                    <a class="btn btn-serapide"href="{% url 'geportale_home' %}#/viewer/mappa_piani_operativi?static=1" role="button">Vai al Geoportale</a>
                </p>
                <p>
                    <a class="btn btn-serapide" href="http://159.213.57.114/vasPianiCom/admin/" role="button">Valutazione e confirmità</a>
                </p>
                <p>
                    <a class="btn btn-serapide btn-sm" href="http://159.213.57.114/consultazionePIT.html" role="button">Banca data normativa del PIT-PPR</a>
                </p>
            </div>
            <div class="col-3" style="border-left:4px solid #FED403;">
                <h5>MONITORAGGIO URBANISTICO</h5>
                <p class="wrap-text">
                    Il software INPUT per il monitoraggio urbanistico della pianificazione comunale strutturale e operativa
                </p>
                <p>
                    <a class="btn btn-serapide" href="http://159.213.57.114/Database%20Strumenti%20Urbanistici.html" role="button">Vai a monitoraggio urbanistico</a>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="block-Sixth_section">
    <div class="row m-0 section-row border border-secondary bg-dark text-white">

    <div class="col-4 justify-content-center p-3 p-lg-5">
        <div class="p-3 p-lg-5 text-center">
            <img alt="opendata.png" class="img-fluid" height="252" src="/media/images/opendata_iuJRlUR.2e16d0ba.fill-600x600.png" width="253">
        </div>
    </div>
    <div class="col-8 justify-content-between p-3 p-lg-5">
        <p style="font-size: 4.5454rem; font-weight: bold; padding-bottom:2rem;" >
            Open Data
        </p>
        <p class="medium-text wrap-text pb-2"  style="font-size: 2.2727rem;">
            Catalogo dei Dati Territoriali
        </p>
        <p class="wrap-text size-2">
            Attraverso il portale Open Toscana la Regione raccoglie tutti i dati reperibili e li mette a disposizione dei cittadini per la partecipazione e la trasparenza amministrativa di Enti, aziende, professionisti e cittadini. I dati aperti, comunemente chiamati con il termine inglese &quot;open data&quot;, permettono alle pubbliche amministrazioni di aprirsi ai cittadini, tanto in termini di trasparenza quanto di partecipazione diretta al processo decisionale.
        </p>
        <div class="my-5">
            <a href="http://dati.toscana.it/dataset" target="_blank" class="bg-light p-3 text-dark">
                VAI AL CATALOGO DEI DATI SUL SITO OPEN DATA TOSCANA
            </a>
        </div>
    </div>
</div>
</section>
</div>

{% endblock content %}
