<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    {% load static %}
    {% load i18n %}

    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block head_title %}Statuto Territorio RT{% endblock head_title %}</title>
        <link href="{% static 'fonts/icon.css' %}"rel="stylesheet">
        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/serapide.css' %}"/>
        {% block styles %}
        {% endblock styles %}
    </head>
    <body class="strt">
        <!-- CONTAINER-FLUID -->
        <div class="serapide container-fluid p-0" >

            <!-- TOP-NAVBAR -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark
                        sticky-top pl-0 py-0 top-navbar">

                    <!-- BRAND -->
                    <a class="navbar-brand p-0 d-inline-block" href="/">
                        <div class="d-inline-block pr-lg-3">
                            <img src="{% static 'img/RT_logo.png' %}" alt="RT Logo"
                                class="d-inline-block img-fluid rt-logo p-0">
                            <span class="d-none d-xl-inline-block pl-2 brand-text">
                                {% trans 'Regione Toscana' %}
                            </span>
                        </div>
                        <div class="d-inline-block border-left border-white px-2 px-lg-4">
                            <img src="{% static 'img/RT_logo_governo.png' %}" alt="RT Logo Governo"
                                class="d-inline-block img-fluid rt-logo-gov p-0">
                            <span class="d-none d-lg-inline-block pl-2 brand-text">
                                {% trans 'Ecosistema Informativo Regionale Integrato per il Governo del Territorio' %}
                            </span>
                        </div>
                    </a><!-- end BRAND -->

                    {% block top_navbar_items %}
                        <!-- Here the navbar items -->
                    {% endblock top_navbar_items %}

            </nav><!-- end TOP-NAVBAR -->

            {% block user_navbar %}
                <!-- Here the user toolbar -->
            {% endblock user_navbar %}


            <!-- CONTENT -->
            <div class="content bg-light d-flex">

                <div id="serapide-sidebar" class="sidebar"></div>

                {% block content %}

                    <!-- put the content here -->

                {% endblock content %}

            </div> <!-- end CONTENT -->

            <!-- FOOTER -->
            <div class="footer page-footer footer-padding-trans bg-ldark w-100">
                <div class="container-fluid text-center text-md-left pt-4 px-md-7">
                    <div class="row p-2 m-0 text-secondary">
                        <div class="col-md-3  m-0 p-0">
                            <h5 class="text-uppercase">{% trans 'contatti' %}</h5>
                            <ul class="list-unstyled">
                                <li><small>+345 678 903</small></li>
                                <li>
                                    <a href="/" class="text-secondary">
                                        <small>email@pianificazioneterritoriale.it</small>
                                    </a>
                                </li>
                                <li>
                                    <a href="/" class="text-secondary">
                                        <small>...</small>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <hr class="clearfix w-100 d-md-none pb-3">
                        <div class="col-md-3  p-0 m-0">
                            <h5 class="text-uppercase">{% trans 'supporto' %}</h5>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="/" class="text-secondary">
                                        <small>{% trans 'documentazione'|capfirst %}</small>
                                    </a>
                                </li>
                                <li>
                                    <a href="/" class="text-secondary">
                                        <small>{% trans 'WIKI' %}</small>
                                    </a>
                                </li>
                                <li>
                                    <a href="/" class="text-secondary">
                                        <small>{% trans 'FAQ' %}</small>
                                    </a>
                                </li>
                                <li>
                                    <a href="/" class="text-secondary">
                                        <small>{% trans 'tutorial'|capfirst %}</small>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <hr class="clearfix w-100 d-md-none pb-3">
                        <div class="col-md-3  p-0 m-0">
                            <h5 class="text-uppercase"> {% trans 'informazioni' %}</h5>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="/" class="text-secondary">
                                        <small>{% trans 'Privacy Policy'|capfirst %}</small>
                                    </a>
                                </li>
                                <li>
                                    <a href="/" class="text-secondary">
                                        <small>{% trans 'Termini & condizioni'|capfirst %}</small>
                                    </a>
                                </li>
                                <li>
                                    <a href="/" class="text-secondary">
                                        <small>{% trans 'Ufficio Stampa'|capfirst %}</small>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3  p-0 m-0">
                            <h5 class="text-uppercase"> {% trans 'in collaborazione con' %}</h5>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="/" class="text-secondary">
                                        <small>Direzione Urbanistica della Regione Toscana</small>
                                    </a>
                                </li>
                                <li>
                                    <a href="/" class="text-secondary">
                                        <small>Consorzio LaMMA</small>
                                    </a>
                                </li>
                                <li>
                                    <a href="/" class="text-secondary">
                                        <small>CNR - IBE</small>
                                    </a>
                                </li>
                                <li>
                                    <a href="/" class="text-secondary">
                                        <small>ARPAT/SIRA</small>
                                    </a>
                                </li>
                                <li>
                                    <a href="/" class="text-secondary">
                                        <small>GeoSolutions s.a.s.</small>
                                    </a>
                                </li>
                                <li>
                                    <a href="/" class="text-secondary">
                                        <small>AC Associati</small>
                                    </a>
                                </li>
                                <li>
                                    <a href="/" class="text-secondary">
                                        <small>Osservatorio Paritetico della Pianificazione</small>
                                    </a>
                                </li>
                                <li>
                                    <a href="/" class="text-secondary">
                                        <small>Settore VIA-VAS della Regione Toscana</small>
                                    </a>
                                </li>
                                <li>
                                    <a href="/" class="text-secondary">
                                        <small>NURV</small>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-2 text-md-right align-self-md-end"> <small>{% trans '@ Regione Toscana'|capfirst %}</small></div>
                    </div>
                </div>
            </div>
            </div> <!-- end FOOTER -->

        </div> <!-- end CONTAINER-FLUID -->

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

        <script>

            if ($('.serapide').length > 0) {
                $('.content').css('padding-top', '70px');
            }
            if ($('#home').length > 0) {
                $('.content').css('padding', '0px');
                $('.content').css('padding-top', '70px');
            }

        </script>

        {% block add_script %}
        {% endblock add_script %}

    </body>

</html>
