{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}{{ block.super }} - Password Reset{% endblock head_title %}

{% block content %}

    <div class="bg-light h-100 py-5 m-0 px-6">
        <div class="col-12">
            <p>Inserisci l'indirizzo email dell'account per cui vuoi effettuare il cambio password:</p>
            <form method="POST" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-secondary my-2 my-lg-4" value="reset">
            </form>
        </div>
    </div>

{% endblock %}
