{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}{{ block.super }} - Cambia Password{% endblock head_title %}

{% block content %}

    <div class="bg-light h-100 py-5 m-0 px-6">
        <div class="col-12">
            <p>Inserisci la password attuale, per ragioni di sicurezza, e poi la nuova password due volte, per verificare di averla scritta correttamente</p>
            <form class="" method="POST" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-secondary my-2 my-lg-4" value="Cambia Password">
            </form>
        </div>
    </div>

{% endblock content %}
