{% extends "index.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{{ block.super }} - {% trans 'profilo utente'|capfirst %}{% endblock head_title %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'strt_users/css/users.css' %}"/>
{% endblock styles %}

{% block content %}

    <div class="bg-light w-100 h-100 py-5 m-0 px-6">

        <h2>{% trans 'dati utente'|capfirst %}</h2>
        <hr class="border-warning border-bottom"></hr>
        <div class="pb-2 ">
            <div class="row">
                <div class="col-2 text-secondary">{% trans 'nome'|capfirst %}:</div>
                <div class="col-10">{% if current_user.first_name %}{{ current_user.first_name|capfirst }}{% else %}n.d.{% endif %}</div>
            </div>
            <div class="row">
                <div class="col-2 text-secondary">{% trans 'cognome'|capfirst %}:</div>
                <div class="col-10">{% if current_user.last_name %}{{ current_user.last_name|capfirst }}{% else %}n.d.{% endif %}</div>
            </div>
            <div class="row">
                <div class="col-2 text-secondary">{% trans 'codice fiscale'|capfirst %}:</div>
                <div class="col-10">{{ current_user.fiscal_code|upper }}</div>
            </div>
            <div class="row">
                <div class="col-2 text-secondary">{% trans 'email'|capfirst %}:</div>
                <div class="col-10">{% if current_user.email %}{{ current_user.email }}{% else %}n.d.{% endif %}</div>
            </div>
            <div class="row">
                <div class="col-2 text-secondary">{% trans 'ruolo'|capfirst %}:</div>
                <div class="col-10">
                    {% for cum in current_user_memberships %}
                        <div class="row">
                            <div class="col">{{ cum.name }}</div>
                        </div>
                    {% empty %}
                        n.d.
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-2 text-secondary">{% trans 'creato da'|capfirst %}:</div>
                <div class="col-10">{% if current_user.created_by %}{{ current_user.created_by }}{% else %}n.d.{% endif %}</div>
            </div>
            <div class="row">
                <div class="col-2 text-secondary">{% trans 'modificato da'|capfirst %}:</div>
                <div class="col-10">{% if current_user.updated_by %}{{ current_user.updated_by }}{% else %}n.d.{% endif %}</div>
            </div>
            <div class="row">
                <div class="col-2 text-secondary">{% trans 'data creazione'|capfirst %}:</div>
                <div class="col-10">{{ current_user.date_joined|date:'d-m-y H:i:s' }}</div>
            </div>
            <div class="row">
                <div class="col-2 text-secondary">{% trans 'ultima modifica'|capfirst %}:</div>
                <div class="col-10">{{ current_user.date_updated|date:'d-m-y H:i:s' }}</div>
            </div>
        </div>


    </div>
    <div id="only-nav-bar"></div>
{% endblock content %}

{% block add_script %}
{{ block.super }}
    <script>

        $('.user-row').each(function() {
                var roles_id = $(this).attr('aria-controls');
                if ($('#'.concat(roles_id)).length < 1) {
                    $(this).after(
                        '<tr id="'
                            .concat(roles_id)
                            .concat('" class="collapse text-secondary">')
                            .concat('<td scope="col" colspan="6">')
                            .concat('{% trans 'Nessun ruolo assegnato' %}')
                            .concat('</td></tr>')
                    );
                }
            }
        );

    </script>

{% endblock add_script %}
