
// Crea colori di base per app serapide text, btn, bg, border
// di default si usa il warning per il comune, 
// si possono creare varianti, usanto una classe wrapper per il tipo

$attori: (
  Regione: #09D7F2,
  AC: #44F5D3,
  SCA: #FA2AB3,
  GENIO_CIVILE: #FA2AB3
);
$sizeBase: 15;

@mixin generate-size ($size){
    $val: $size / $sizeBase;
    .size-#{$size} {
        font-size: $val#{rem} !important;
    }
}

@mixin generate-icon-size ($size){
    $val: $size / $sizeBase;
    .icon-#{$size} {
        font-size: $val#{rem} !important;
    }
}


@mixin generateMediaQuery($width, $size){
    @media (min-width: $width#{px}) { 
        html {
            font-size: $size#{px};
        }
    }
}


@mixin serapide-color ($color){
    @include text-emphasis-variant(".text-serapide", $color );
    @include bg-variant(".bg-serapide", $color);
    @include bg-gradient-variant(".bg-gradient-serapide", $color);
    .btn-serapide{
        @include button-variant($color, $color);
    }
    .border-serapide {
        border-color: $color !important;
    }  
}


@include serapide-color($warning);

@each $attore in map-keys($attori) {
        $colore: map-get($attori, $attore);
        .#{$attore}{
            @include serapide-color($colore);
        }
}
.border-piano {
    border-color:  #707070;
}
.bg-piano {
    background-color: #F6F7F4;
}
.border-2         { border: ($border-width * 2) solid $border-color !important; }
.border-top-2    { border-top: ($border-width * 2) solid $border-color !important; }
.border-right-2   { border-right: ($border-width * 2) solid $border-color !important; }
.border-bottom-2 { border-bottom: ($border-width * 2) solid $border-color !important; }
.border-left-2    { border-left: ($border-width * 2) solid $border-color !important; }
.border-3         { border: ($border-width * 3) solid $border-color !important; }
.border-top-3    { border-top: ($border-width * 3) solid $border-color !important; }
.border-right-3   { border-right: ($border-width * 3) solid $border-color !important; }
.border-bottom-3 { border-bottom: ($border-width * 3) solid $border-color !important; }
.border-left-3    { border-left: ($border-width * 3) solid $border-color !important; }



.content {
    min-height: calc(100vh - 196px);
    // padding-bottom: $portal-header;
    padding-top: $portal-header;

}
/** colori notifiche**/
.first {
    order: -1;
}
.nessuna {
    color: $success;
}
.urgente {
    color: $danger;
}
.importante {
    color: $indigo;
}
.prossimamente{
    color: $cyan
}
.legenda {
    i {
        font-size: 18px;
    }
    span {
        font-size: 60%;
        width: 100px;
    }
    font-size:70%;
}
.vertical-divider-left {
    border-left: 1px solid rgba(255,255,255, 0.8);
}
.vertical-divider-right {
    border-right: 1px solid rgba(255,255,255, 0.8);
}
@at-root  .rt-logo {
    height: $portal-header;
}
@at-root  .rt-logo-gov {
    height: $portal-header - ($portal-header/3);
}
.pX{
    @each $breakpoint in map-keys($grid-breakpoints) {
        $next: breakpoint-next($breakpoint, $grid-breakpoints);
        $infix: breakpoint-infix($next, $grid-breakpoints);
        &#{$infix}-1 {
            @include media-breakpoint-up($next) {
                padding-left: $portal-header  !important;
                padding-right: $portal-header  !important;
            }
        }
    }
}
.pX{
    @each $breakpoint in map-keys($grid-breakpoints) {
        $next: breakpoint-next($breakpoint, $grid-breakpoints);
        $infix: breakpoint-infix($next, $grid-breakpoints);
        &#{$infix}-2 {
            @include media-breakpoint-up($next) {
                padding-left: $portal-header * 2 !important;
                padding-right: $portal-header * 2!important;
            }
        }
    }
}
.pX{
    @each $breakpoint in map-keys($grid-breakpoints) {
        $next: breakpoint-next($breakpoint, $grid-breakpoints);
        $infix: breakpoint-infix($next, $grid-breakpoints);
        &#{$infix}-3 {
            @include media-breakpoint-up($next) {
                padding-left: $portal-header * 3 !important;
                padding-right: $portal-header * 3 !important;
            }
        }
    }
}
.serapide-content {
    min-width: 700px;
}
.pointer{
    cursor: pointer;
}
.default{
    cursor: default !important;
}
.serapide {
   
    width: 100%;
    .pointer{
        cursor: pointer;
    }   
    .tipo__{
    
    &option {
        font-size: 80%;
        border-bottom: 1px solid $gray-300;
            &:hover, &--is-focused {
                background-color: $gray-400;
        }
        &--is-selected {
            background-color: $gray-200;
            color: $black;
        }
        &:focus{
            background-color: $gray-200;
        }
    }
    &menu-list {
        text-transform: capitalize;
        padding-top:0px;
        padding-bottom:0px;
    }
    &control {
        font-size: 80%;
        &--is-focused, &:hover {
            border-color: $gray-300;
            box-shadow: 0 0 0 1px $gray-700;
        }
    }

}
}
a {
    outline: none;
    &:hover {
        text-decoration: none !important;
    }
}
.big-text {
    font-size: 5.4545rem;
    font-weight: 700;
    line-height: 5.4545rem;
}
.medium-text {
    font-size: 1.8181rem;
    font-weight: 400;
    line-height: 2.1818rem;
}
.wrap-text {
    word-wrap: break-word;
}
.first-section-row {
    padding-left: 6rem;
    padding-right: 6rem;
}
.second-section-row {
    padding-left: 5rem;
    padding-right: 5rem;
    .medium-text{
        font-size:1.1rem;
    }
    p {
        margin: 0px;
    }
}
.third-section-row {
    padding-left: 4rem;
    padding-right: 4re,;
    padding-top: 11.66rem;
}
.section-row {
    padding-left: 60px;
    padding-right: 60px;
    
}
.icon-col {
    border-right: 8px solid #FED403;
}
.home-icon {
    font-size: 3.5rem;
}
.bg-pink {
    background-color: #e1e1e1;
}
.bg-serapide-grey {
    background-color: $serapide-grey;
}
.open-panel-btn {
    position: absolute;
    right: 20px;
    bottom: 15px;
}
.close-panel-btn {
    position: absolute;
    right: 2px;
    top: 2px;
}

@include media-breakpoint-down(md) {
    .content{
        padding-top: $portal-header - 4;
    }
    .big-text {
        font-size: 30px;
    }
    .medium-text {
        font-size: 15px;
    }
}
.serapide {
    .flex-eql {
        flex: 1 1 0%;
    }
    .flex-2 {
        flex: 2;
    }
    .flex-1 {
        flex: 1;
    }
    .flex-3 {
        flex: 3;
    }
    .Toastify__toast {
        border-radius: 8px;
    }
}

.add-contact {
    // .ente-sel {
    //     min-width: 200px
    // }
     .col{ 
         padding-left: 5px;
         padding-right: 5px;
     }
    
    i{
        cursor: pointer
    }
    i.disabled {
        cursor: not-allowed;
        color: $gray-400;
    }
}

.serapide {
    button.read-only.btn {
        cursor: not-allowed
    }
}

.date-time-picker {
    .react-datepicker-wrapper {
            display: flex;
            .react-datepicker__input-container{
                flex: 1 1 auto !important
            }
    }
}
// modifiche revisione Elena

html {
    font-size: 8px;
}

@for $i from 0 through 12 {
    $width: 700 + ($i * 100);
    $size: 10 + $i;
    @include generateMediaQuery($width, $size);
}
// genera icone
@for $size from 8 through 54 {
    @include generate-icon-size($size);
}
// pagina piano->home-action
// genera font-size relativi
@for $size from 6 through 30 {
    @include generate-size($size);
}
.h-pre {
    font-size: 1.6rem;
    line-height: 1.6em;
}
.h-title {
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 2rem
}
.h-sub {
    font-size: 1.4rem;
}
.home-container{
    margin: 1.66rem;
}

.lista-azioni{
    padding: 1.66rem;
    max-width: 52rem;
}
.action-container{
    padding: 1.66rem;
    margin-left: 1rem;
}
.piano-page-content {
    margin: 1.66rem;
    display: flex;
    flex-direction: column !important;
    background-color: $white;
    padding: 1.66rem;

}




.sidebar-open {
    .piano-header {
        padding-left: 3.33rem;
        padding-right: 4.66rem;
    }
     > div {
         > .legenda-azioni {
            padding-left: 3.33rem;
            padding-right: 4.66rem;
        }
    }

}
.sidebar-closed {

    .piano-header {
        padding-left: 6rem;
        padding-right: 6.66rem;
    }
    > div {
        > .legenda-azioni {
            padding-left: 6rem;
            padding-right: 6.66rem;
        }
        > .home-container {
            margin: 1.66rem 3.33rem 1.66rem 3.33rem;
        }
    }
    .piano-page-content {
        margin: 1.66rem 3.33rem 1.66rem 3.33rem;
    
    }
}

.action-title{
    font-size: 1rem;
    font-weight: bold;
}

//switch
.switch-small {
    span {
        font-size: 0.8rem;
    }
    .custom-switch .custom-control-label::before  {
        width: 1.7rem;
    }
    .custom-control-label::before {
        height: 0.8rem;
    }
    .serapide .strt-switch .custom-control-label.checked:after{
        -webkit-transform: translateX(0.7rem);
        transform: translateX(0.7rem);
    }
    .custom-switch .custom-control-label::after{
        width: calc(0.8rem - 4px);
        height: calc(0.8rem - 4px);
        left: calc(-2.15rem + 2px);
    }
}
.salva-invia{
    .sv-button{
        min-width:200px;
    }
}
@media (min-width: 1400px) { 
    .salva-invia{
        .modal-dialog{
            max-width: 800px !important;
            
        }
        .sv-button{
            min-width:300px;
        }
    }
}

@media (min-width: 1400px) { 
     .serapide{
         .modal-dialog{
             max-width: 550px !important;
         }
     }
 }
 @media (min-width: 1500px) { 
    .serapide{
        .modal-dialog{
            max-width: 600px !important;
        }
    }
}
@media (min-width: 1600px) { 
    .serapide{
        .modal-dialog{
            max-width: 650px !important;
        }
    }
}
@media (min-width: 1700px) { 
    .serapide{
        .modal-dialog{
            max-width: 700px !important;
        }
    }
}
@media (min-width: 1800px) { 
    .serapide{
        .modal-dialog{
            max-width: 750px !important;
        }
    }
}
@media (min-width: 1900px) { 
    .serapide{
        .modal-dialog{
            max-width: 800px !important;
        }
    }
}