
// Crea colori di base per app serapide text, btn, bg, border
// di default si usa il warning per il comune, 
// si possono creare varianti, usanto una classe wrapper per il tipo

$attori: (
  Regione: #09D7F2,
  AC: #44F5D3,
  SCA: #FA2AB3,
  GENIO_CIVILE: #FA2AB3
);

@mixin serapide-color ($color){
    @include text-emphasis-variant(".text-serapide", $color );
    @include bg-variant(".bg-serapide", $color);
    @include bg-gradient-variant(".bg-gradient-serapide", $color);
    .btn-serapide{
        @include button-variant($color, $color);
    }
    .border-serapide {
        border-color: $color !important;
    }  
}


@include serapide-color($warning);

@each $attore in map-keys($attori) {
        $colore: map-get($attori, $attore);
        .#{$attore}{
            @include serapide-color($colore);
        }
}

.border-2         { border: ($border-width * 2) solid $border-color !important; }
.border-top-2    { border-top: ($border-width * 2) solid $border-color !important; }
.border-right-2   { border-right: ($border-width * 2) solid $border-color !important; }
.border-bottom-2 { border-bottom: ($border-width * 2) solid $border-color !important; }
.border-left-2    { border-left: ($border-width * 2) solid $border-color !important; }
.border-3         { border: ($border-width * 3) solid $border-color !important; }
.border-top-3    { border-top: ($border-width * 3) solid $border-color !important; }
.border-right-3   { border-right: ($border-width * 3) solid $border-color !important; }
.border-bottom-3 { border-bottom: ($border-width * 3) solid $border-color !important; }
.border-left-3    { border-left: ($border-width * 3) solid $border-color !important; }



.content {
    min-height: calc(100vh - 196px);
    // padding-bottom: $portal-header;
    padding-top: $portal-header;

}
/** colori notifiche**/
.icon-34 {
    font-size: 34px !important;
}
.icon-18 {
    font-size: 16px !important;
}
.icon-16 {
    font-size: 16px !important;
}
.icon-14 {
    font-size: 14px !important;
}
.icon-12 {
    font-size: 12px !important;
}
.first {
    order: -1;
}
.nessuna {
    color: $success;
}
.urgente {
    color: $danger;
}
.importante {
    color: $indigo;
}
.prossimamente{
    color: $cyan
}
.legenda {
    i {
        font-size: 18px;
    }
    span {
        font-size: 60%;
        width: 100px;
    }
    font-size:70%;
}
.vertical-divider-left {
    border-left: 1px solid rgba(255,255,255, 0.8);
}
.vertical-divider-right {
    border-right: 1px solid rgba(255,255,255, 0.8);
}
@at-root  .rt-logo {
    height: $portal-header;
}
@at-root  .rt-logo-gov {
    height: $portal-header - ($portal-header/3);
}
.pX{
    @each $breakpoint in map-keys($grid-breakpoints) {
        $next: breakpoint-next($breakpoint, $grid-breakpoints);
        $infix: breakpoint-infix($next, $grid-breakpoints);
        &#{$infix}-1 {
            @include media-breakpoint-up($next) {
                padding-left: $portal-header  !important;
                padding-right: $portal-header  !important;
            }
        }
    }
}
.pX{
    @each $breakpoint in map-keys($grid-breakpoints) {
        $next: breakpoint-next($breakpoint, $grid-breakpoints);
        $infix: breakpoint-infix($next, $grid-breakpoints);
        &#{$infix}-2 {
            @include media-breakpoint-up($next) {
                padding-left: $portal-header * 2 !important;
                padding-right: $portal-header * 2!important;
            }
        }
    }
}
.pX{
    @each $breakpoint in map-keys($grid-breakpoints) {
        $next: breakpoint-next($breakpoint, $grid-breakpoints);
        $infix: breakpoint-infix($next, $grid-breakpoints);
        &#{$infix}-3 {
            @include media-breakpoint-up($next) {
                padding-left: $portal-header * 3 !important;
                padding-right: $portal-header * 3 !important;
            }
        }
    }
}
.serapide-content {
    
}
.serapide {
    width: 100%;
    .pointer{
        cursor: pointer;
    }
    .tipo__{
    
    &option {
        font-size: 80%;
        border-bottom: 1px solid $gray-300;
            &:hover, &--is-focused {
                background-color: $gray-400;
        }
        &--is-selected {
            background-color: $gray-200;
            color: $black;
        }
        &:focus{
            background-color: $gray-200;
        }
    }
    &menu-list {
        text-transform: capitalize;
        padding-top:0px;
        padding-bottom:0px;
    }
    &control {
        font-size: 80%;
        &--is-focused, &:hover {
            border-color: $gray-300;
            box-shadow: 0 0 0 1px $gray-700;
        }
    }

}
}
a {
    outline: none;
    &:hover {
        text-decoration: none !important;
    }
}
.big-text {
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
}
.medium-text {
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
}
.wrap-text {
    word-wrap: break-word;
}
.first-section-row {
    padding-left: 120px;
    padding-right: 120px;
}
.second-section-row {
    padding-left: 100px;
    padding-right: 100px;
}
.third-section-row {
    padding-left: 80px;
    padding-right: 80px;
}
.section-row {
    padding-left: 60px;
    padding-right: 60px;
}
.icon-col {
    border-right: 8px solid yellow;
}
.home-icon {
    font-size: 48px;
}
.bg-pink {
    background-color: #e1e1e1;
}
.bg-serapide-grey {
    background-color: $serapide-grey;
}
.open-panel-btn {
    position: absolute;
    right: 20px;
    bottom: 15px;
}
.close-panel-btn {
    position: absolute;
    right: 2px;
    top: 2px;
}

@include media-breakpoint-down(md) {
    .content{
        padding-top: $portal-header - 4;
    }
    .big-text {
        font-size: 30px;
    }
    .medium-text {
        font-size: 15px;
    }
}
.serapide {
    .flex-eql {
        flex: 1 1 0%;
    }
    .flex-2 {
        flex: 2;
    }
    .flex-1 {
        flex: 1;
    }
    .flex-3 {
        flex: 3;
    }
    .Toastify__toast {
        border-radius: 8px;
    }
}

.add-contact {
    // .ente-sel {
    //     min-width: 200px
    // }
     .col{ 
         padding-left: 5px;
         padding-right: 5px;
     }
    
    i{
        cursor: pointer
    }
    i.disabled {
        cursor: not-allowed;
        color: $gray-400;
    }
}

.serapide {
    button.read-only.btn {
        cursor: not-allowed
    }
}

.date-time-picker {
    .react-datepicker-wrapper {
            display: flex;
            .react-datepicker__input-container{
                flex: 1 1 auto !important
            }
    }
}