
.modal-body-file-chooser {
    padding: 1.5rem 2rem ;
}
.dropzone {
    padding: 0.5em;
    border-width: 1px;
    border-color: $gray-400;
    border-style: dashed;
    border-radius: 5px;
    background-color: $white;
    flex-direction: column;
    
    .material-icons{
        font-size: 4em;
    }
    .title {
        color: $gray-600;
        font-size: 1.5em;
    }
    .sub-title {
        color: $gray-600;
        font-size: 1em;
    }
    .btn, .btn-sm{
        font-size: 1.25em;
    }
    
    &.lg{
        padding: 1em;
        min-width: 29em;
        .title {
            font-size: 2em;
        }
        .sub-title {
            color: $gray-600;
            font-size: 1em;
        }
        .material-icons{
            font-size: 8em;
        }
        .btn-lg{
            font-size: 1.75em;
        }
    }
    &.isAccept:focus{
        border-style: solid;
        border-color: $success;
    }
    &.isAccept{
        border-style:solid;

    }
    &.isRejected {
        .material-icons{
            color: $danger
        }
        .btn {
            background-color: $danger;
            border-color: $danger;
        }
        border-style: solid;
        border-color: $danger;
    }
}
// Css for resource and file loader
.resource, .file-loader{
    padding: map-get($spacers, 2);
    .material-icons, .prog {
        font-size: 1.6em;
    }
    .spinner-grow {
        width: 2.4em;
        height: 2.4em;
    }

}
.resource {
    margin-left: 0px;
    margin-right: 0px;
    border-top: $border-width solid $border-color;
    border-bottom: $border-width solid $border-color;
}

.multiple-upload > div:first-of-type {
    border-top: $border-width solid $border-color !important;
}
.multiple-upload > div {
    border-bottom: $border-width solid $border-color !important;
}
.multiple-upload  {
    .resource {
        border-top: none;
        border-bottom: none;
    }    
}

.action-uploader {
        width: 100%;
        min-height: 4rem;
        display: flex;
    .file-loader, .resource {
        width: 100%;
    }
    div {
        flex: 1;
    }
    .loading {
        flex:0;        
    }
    div .dropzone {
            align-self: baseline;
    } 
    
}
