#glossario-termini {
    margin: 20px 20px 20px 20px;
}

#glossario-termini dt {
  font-size: 1.1rem;
  padding: 10px 0px 0px 0px;
  border-top: 1px solid $warning;
}

#glossario-termini dd {
  text-align: justify;
  padding: 0px 0px 5px 0px;
  margin-bottom: 40px;
}