
@at-root .navbar {
    z-index: 1031;
    padding-right: $portal-header !important;
}
@at-root .container-fluid {
    .navbar-expand {
        @each $breakpoint in map-keys($grid-breakpoints) {
            $next: breakpoint-next($breakpoint, $grid-breakpoints);
            $infix: breakpoint-infix($next, $grid-breakpoints);
            &#{$infix} {
                @if $next != null {
                    @include media-breakpoint-down($next) {
                        &.navbar {
                            padding-right: 0.5rem !important;
                        }
                    }
                }
            }
        }
    }
}

.user-navbar {
    top: $portal-header !important;
}

.navbar {
    padding-left: $portal-header;
    z-index: 1030; 
    height: $portal-header;
}
.link-icon {
    cursor: pointer;
    display: flex;
    flex-flow: column;
    -webkit-flex-flow: column;
    flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    align-items: center;
    -webkit-align-items: center;
    padding: 0px;
}
.link-icon i {
    font-size: 24px;
}
.nav-btn-badge {
    margin-left: 4px;
    font-size: 60%;
}
.user-navbar .navbar-nav .nav-link{
    color: $white;
    &.disabled,
    &:disabled {
        color: darken($white, 20%);
    } 
}
.top-navbar a:hover {
    color: darken($white, 20%) !important;
}
.link-icon-label{
    font-size: 10px;
    color: inherit;
}
.bg-serapide-gray {
    background-color: $serapide-grey !important;
}
.navbar-expand {
    @each $breakpoint in map-keys($grid-breakpoints) {
        $next: breakpoint-next($breakpoint, $grid-breakpoints);
        $infix: breakpoint-infix($next, $grid-breakpoints);
        &#{$infix} {
            @include media-breakpoint-down($breakpoint) {
                &.navbar{
                    height: auto;
                }
                .link-icon {
                    flex-flow: row;
                    -webkit-flex-flow: row;
                }
                .ml-auto{
                    align-items: start !important;
                }
                .vertical-divider-left {
                    border-left: none;
                }
                .vertical-divider-right {
                    border-right: none;
                }
                .link-icon i {
                    font-size: 28px;
                }
                .link-icon-label{
                    font-size: 1rem;
                    padding-left: 0.2rem;
                }
            }
            @if $next != null {
                @include media-breakpoint-down($next) {
                    &.navbar {
                        padding-left: 0px;
                        padding-right: 0.5rem !important;
                    }
                }
            }
        }
    }
}