.sidebar {
    background-color: rgb(81, 80, 80) !important;
    color:white;

    .sidebar-header{
        min-width: 13.3333rem;
        padding: 8px;
        .close{
            font-size: 1rem;
            text-shadow: none;
            opacity: 1;
            display: inline-block;
            > .material-icons{
                font-size: 1rem;
            }
        }
        
        margin-bottom: 10px;
        .title {
            font-size: 15px;
        }
        .title-portale{
            font-size: 0.5333rem;
        }
        .piano-title {
            font-size: 20px;
        }
    }
    .sidebar-header.collapsed{
        display: flex;
        padding-top:1rem;
        justify-content: center;
        min-height: 4rem;
        align-items: center;
        text-align: center;
        margin-bottom: 0px;
        min-width: 3.466rem;
        font-size: 1.2rem;
    }
    .list-group {
        .list-group-item {
            display: flex;
            align-items: center;
            background-color: inherit;
            border: none;
            border-radius: 0;
            border-top: 1px solid rgb(215, 216, 210);
            border-bottom: 1px solid rgb(215, 216, 210);
            min-height: 70px;
            cursor: pointer;
            .icons{
                margin-right: 0.8rem;
                
            }
            .material-icons {
                font-size: 1rem;
            }
            .title {
                font-size: 0.8rem;
            }
            .sub-title {
                font-size: 0.5333rem;
            }
            .badge {
                position: absolute;
                right: 10px;
            }
        }
        .list-group-item.locked {
            cursor: not-allowed;
        }
        .list-group-item.collapsed {
            justify-content: center;
            padding: 0px;
            padding-left: 4px;
            padding-right: 4px;
            min-height: 3.466rem;
            .icons{
                padding-left: 2px;
                padding-right: 2px;
                margin-right: 0px;
            }
        }
        .list-group-item.active{
            background-color: rgb(60, 59, 59);
            border-left: 4px solid;
        }
        .list-group-item.active.collapsed{
            padding-left: 0px;
        }
    }
}
