
$fasi: (
  avvio: -1.5,
  adozione: -0.5,
  approvazione: 0.5,
  pubblicazione: 1.5
);


@mixin statoProgress($dim, $stato-progress-width, $nFasi, $font-size: 24px){
  $space-between: ($stato-progress-width - ($dim * ($nFasi + 1))) / $nFasi;
  
  @each $fase in map-keys($fasi) {
    $val: map-get($fasi, $fase);
    .#{$fase}{
      transform:  translateX(($space-between * $val) + ($dim * $val));
    }
  }
  i {
      font-size: $font-size;
      transform: translateX(($stato-progress-width * -0.5) + ($dim/2)); // di default va sul primo
   
    }
  i.draft, i.anagrafica{
    color: $gray-400 !important;
  }
  min-width: $stato-progress-width;
  flex-direction: column;
  display: inline-flex;
  align-items: center;
  line-height: 0px;
    ul{
        list-style: none;
        display: block;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
    }
    ul._labels{
      padding-top:10px;
      display: inline;
      .label_draft, .label_anagrafica {
        display: none;
      }
      li{
        font-size: 0.4rem;
        width: $space-between;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;    
        text-transform: capitalize;

      }
    }
    ._icons {
      li{
        width: $dim;
        height: $dim;
        text-align: center;
        line-height: 1em;
        border-radius: $dim / 2;
        margin: 0 0 0 $space-between;
        display: inline-block;
        color: $white;
        background-color: $gray-400; 
        position: relative;
        z-index: 1;
        &:before {
          content: ''; 
          position: absolute;
          background-color: inherit;
          top: $dim / 4;
          left: -$space-between;
          width: $space-between;
          height: $dim / 2 ;
          z-index: 0;
        }
    }
  
  
  
  li:first-child{
    margin-left: 0px;
  }
  li:last-child{
    margin-right: 0px;
  }
  li:first-child::before {
    display: none;
  }
}
  
  .current-fase{
    padding-top: 10px;
    font-size: 1rem;
  }
  .current-fase.draft, .current-fase.anagrafica{
    display: none;
  }
  ul._icons._anagrafica{
    li{
      background-color: $gray-400 !important; 
    }
  }
}



.stato-progress {
  @include statoProgress(8px, 120px, 4, 24px)
  
}

.stato-progress-xxl {
  @include statoProgress(12px, 250px, 4, 60px)
}