$stato-progress-width: 100px;
$space-between: ($stato-progress-width - 40) /4;
.stato-progress{
    .avvio {
        transform:  translateX(($space-between * -2) - 4);
    }
    .adozione {
        transform:  translateX(($space-between / -2) - 4);
    }
    .approvazione {
        transform:  translateX(($space-between / 2) + 4);
    }
    .pubblicazione {
        transform:  translateX(($space-between * 2) + 4);
        
    }
    i {
       transform: translateX(($stato-progress-width * -0.5) + 4);
       color: $warning;    
      }
    i.draft{
      color: $gray-400;
    }
    width: $stato-progress-width;
    flex-direction: column;
    display: inline-flex;
    align-items: center;
    line-height: 0px;
    ul {
        list-style: none;
        display: block;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    ._avvio, ._adozione, ._approvazione, ._pubblicazione {
      li {
        background-color: $warning; 
        &:before {
        background-color: $warning;
      }
    }
    }
    li {
        width: 8px;
        height: 8px;
        text-align: center;
        line-height: 1em;
        border-radius: 5px;
        margin: 0 0 0 $space-between;
        display: inline-block;
        color: $white;
        background-color: $gray-400; 
        position: relative;
        z-index: 1;
        &:before {
          content: '';
          background-color: $gray-400; 
          position: absolute;
          top: 2px;
          left: -$space-between;
          width: $space-between;
          height: 4px;
          z-index: 0;
        }
    }
  
  
  
  li:first-child{
    margin-left: 0px;
  }
  li:last-child{
    margin-right: 0px;
  }
  li:first-child::before {
    display: none;
  }
  
  .active {
    background: $warning;
  }
  
  .active ~ li {
    background: $gray-400;
  }
  
  .active ~ li::before {
    background: $gray-400;
  }
}