
$fasi: (
  anagrafica: -2,
  avvio: -1,
  adozione: 0,
  approvazione: 1,
  pubblicazione: 2
);


@mixin statoProgress($dim, $stato-progress-width, $nFasi, $font-size: 24px){
  $space-between: ($stato-progress-width - (($dim * 1.2) * $nFasi)) / $nFasi;
  
  @each $fase in map-keys($fasi) {
    $val: map-get($fasi, $fase);
    .#{$fase}{
      transform:  translateX(($space-between * $val) + ($dim * $val));
    }
  }
  i {
      font-size: $font-size;
      transform: translateX(($stato-progress-width * -0.5) + ($dim/2)); // di deafult va sul primo
      color: $warning;    
    }
  i.draft{
    color: $gray-400;
  }
  width: $stato-progress-width;
  flex-direction: column;
  display: inline-flex;
  align-items: center;
  line-height: 0px;
    ul{
        list-style: none;
        display: block;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    @each $fase in map-keys($fasi) {
      ._#{$fase}{
        
          li {
          background-color: $warning; 
          &:before {
            background-color: $warning;
          }
        }  
      }
      
    }
      li{
        width: $dim;
        height: $dim;
        text-align: center;
        line-height: 1em;
        border-radius: $dim / 2;
        margin: 0 0 0 $space-between;
        display: inline-block;
        color: $white;
        background-color: $gray-400; 
        position: relative;
        z-index: 1;
        &:before {
          content: '';
          background-color: $gray-400; 
          position: absolute;
          top: $dim / 4;
          left: -$space-between;
          width: $space-between;
          height: $dim / 2 ;
          z-index: 0;
        }
    }
  
  
  
  li:first-child{
    margin-left: 0px;
  }
  li:last-child{
    margin-right: 0px;
  }
  li:first-child::before {
    display: none;
  }
  .active {
    background: $warning;
  }
  ._draft {
    .active {
    background: $gray-400;
  }
}
  .active ~ li {
    background: $gray-400;
  }
  
  .active ~ li::before {
    background: $gray-400;
  }
  
  .current-fase{
    padding-top: 10px;
    font-size: 1rem;
  }
  .current-fase.draft{
    display: none;
  }
}



.stato-progress {
  @include statoProgress(8px, 120px, 5, 24px)
  
}

.stato-progress-xxl {
  @include statoProgress(14px, 300px, 5, 80px)
}