.strt-switch{
    // @include media-breakpoint-up(lg) {
    //     max-width: 500px;
    // }
    .custom-control-label.checked:before
    {
        color: #fff;
        border-color: inherit;
        background-color: inherit;
    }
    .custom-control-label.checked:after{
        background-color: #fff;
        -webkit-transform: translateX(.75rem);
        transform: translateX(.75rem);
    }
}

.vas-switch {
    max-width: 350px;
}
