.usermenu {
    .dropdown-menu {
        top: calc(100% + 9px);
        background-color: $bg-serapide;
        border-radius: 0px;
        border: 0px;
        min-width: 300px;
        padding-bottom: 10rem;
    }
    .dropdown-menu-right {
        right: -0.25rem;
    }
    .dropdown-item {
        width: calc(100% - 3rem);
        color: $white;
        padding: 0.8rem 0rem;
        margin: 0rem 1.5rem;
        border-bottom: 1px solid ;
        font-size: 70%;
        &:hover {
            color: color-yiq($white);
            @include gradient-bg($bg-serapide);
        }
        &:focus {
            @include gradient-bg($bg-serapide);
            border: none;
        }
        &.disabled,
        &:disabled {
            color: darken($white, 20%);
            background-color: transparent;
            // Remove CSS gradients if they're enabled
        }
        button {
            outline-style: none;
        }
    }
    .dropdown-menu-portal {
        top: calc(100% + 12px);
    }
    .role {
        width: calc(100% - 3rem);
        padding: 0.8rem 0rem;
        margin: 0rem 1.5rem;
        font-size: 70%;
        padding-bottom: 0.8rem;
    }
    .role-item {
        padding-left: 1.5rem;
        padding-bottom: 0.2rem;
    }
}