$portal-header: 70px;
$serapide-grey: #6b6b6b;
$serpiade-light-yellow: lighten(#ffc107,30);
$spacer: 1rem !default;
$spacers: (
    6: ($spacer * 4),
    7: ($spacer * 6)
);

$font-family-sans-serif:    "Helvetica Neue",  Helvetica, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,  Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";