// Local variables
@import "./__variables";


// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";
// Use to move under the 
.serapide {
    @import "./_table_piani";
    @import "./_statoProgress";
    @import "./_navbar";
    @import "./_usermenu";
    @import "./_menumessaggi";
    @import "./_fileChooser";
    @import "./_switch"; 
}
@import "./_sidebar";
@import "./_base";
